body{
    background-color: #fffbee;
}

h1{
    color: #e4453f;
}

select{
    color: #e4453f;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0.75em;
    margin: 1em;
    background-color: #aec3c0;
    font-weight: bold;
}

span{
    color: #e4453f;
    font-size: large;
    font-weight: bold;
    margin: 1em;
}